.App {
  text-align: center;
  color: azure;
  padding: 3rem;
  height: 100vh;
  width: 100vw;
}

.start-page {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  align-items: center;
}

.start-page>h1 {
  margin-bottom: 20px;
}

.find-box-frame {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}

.find-box {
  width: 40%;
  border-radius: 20px;
  padding: 1em;
  border: 2px black solid;
  background-color: azure;
}

.find-box:hover {
  background-color: lavender;
  border: 2px blue dotted;
}

@media only screen and (max-width: 992px) {
  .find-box-frame {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .find-box {
    width: 100%;
    padding: 0.5em;
  }
}

/*------------------------------------------------------------------------------*/
/* Individual pages */
/* .find-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.find-frame {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;

  margin-bottom: 20px;
}

.navigation-buttons-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/*------------------------------------------------------------------------------*/
/* Profile Display */
.profiles-display {
  background-color: azure;
  border-radius: 10px;
  overflow-y: scroll;
  color: black;

  padding: 1em;
}

.display-profiles-frame {
  color: black;
}

.display-profiles {
  color: black;

  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 1%;
}

.card-button-groups {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.explore-button {
  height: max-content;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

  .display-profiles {
    grid-template-columns: 45% 45%;
    column-gap: 10%;
  }

  .card-button-groups {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 1.75rem 1.75rem 1.75rem 1rem;
  }

  .display-profiles {
    grid-template-columns: 100%;
  }
}

/*------------------------------------------------------------------------------*/
/* User detail page */
.user-detail-headline {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: left;
}

.user-detail-headline-image {
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.user-detail-headline-info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.user-detail-headline-bio-location-wrap {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.user-detail-headline-bio-location-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user-detail-headline-username-and-other-details {
  display: flex;
  flex-direction: row; 
  gap: 10px;
}

.user-detail-repos-follower-following-wrap {
  background-color: azure;
  border-radius: 10px;
  padding: 1rem 2rem;
  color: black;

  position: relative;

  overflow-y: scroll;
}

.user-detail-r-f--navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 1rem; */
  border-bottom: 2px black solid;

  position: static;
}

.user-detail-r-f--navbar div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 1rem;
}

/* .user-detail-r-f--navbar div:not(:last-child) {
  border-right: 1px black solid;
} */

.user-detail-r-f--navbar-tab:hover {
  color: purple;
}

.user-detail-r-f--navbar-tab-name {
  font-size: 1.15rem;
}

.user-detail-r-f--navbar-tab-number {
  font-size: 1.20rem;
}

.user-detail-r-f--display {
  /* overflow-y: scroll; */
  padding-top: 0.5em;
}

.fork-badge {
  transform: rotateZ(180deg);
}

@media only screen and (max-width: 768px) {
  .user-detail-headline-image {
    width: 25%;
  }

  .username {
    width: 100%;
    justify-content: center;
  }
  .user-detail-headline {
    flex-direction: column;
  }
  
  .user-detail-headline-bio-location-wrap {
    flex-direction: column;
  }

  .user-detail-r-f--navbar div {
    padding: 0 0.25rem;
  }
  
}



