.App {
  text-align: center;
  color: azure;
  padding: 4rem;
  height: 100vh;
  width: 100vw;
}

.start-page {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  align-items: center;
}

.start-page>h1 {
  margin-bottom: 20px;
}

.find-box-frame {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}

.find-box {
  width: 40%;
  border-radius: 20px;
  padding: 1em;
  border: 2px black solid;
  background-color: azure;
}

.find-box:hover {
  background-color: lavender;
  border: 2px blue dotted;
}

@media only screen and (max-width: 992px) {
  .find-box-frame {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .find-box {
    width: 100%;
    padding: 0.5em;
  }
}

/*------------------------------------------------------------------------------*/
/* Individual pages */
/* .find-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.find-frame {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  margin-bottom: 20px;
}

.navigation-buttons-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/*------------------------------------------------------------------------------*/
/* Profile Display */
.profiles-display {
  background-color: azure;
  border-radius: 10px;
  overflow-y: scroll;
  color: black;

  padding: 1em;
}

.display-profiles {
  color: black;

  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 1%;
}

.display-profiles-frame {
  color: black;
}

.card-button-groups {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.explore-button {
  height: max-content;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

  .display-profiles {
    grid-template-columns: 45% 45%;
    column-gap: 10%;
  }

  .card-button-groups {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 3rem;
  }

  .display-profiles {
    grid-template-columns: 100%;
  }
}